.App {
	text-align: center;
}

.ticket {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
	border: black 1px solid;
	padding: 5px;
	margin: 15px auto;
}

.label {
	color: red;
}

.hideTicketButton {
	border: none;
	outline: none;
	background: transparent;
	color: blue;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2rem 0;
}

.pagination button {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color 0.3s;
}

.pagination button.active {
	background-color: dodgerblue;
	color: white;
}
