.App {
	text-align: center;
}

.ticket {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
	border: black 1px solid;
	padding: 5px;
	margin: 15px auto;
}

.label {
	color: red;
}

.hideTicketButton {
	border: none;
	outline: none;
	background: transparent;
	color: blue;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
